.we-do{
    width: 100%;
    display: flex;
   flex-direction: row;
   justify-content: space-between;
  
        height: 55vh;
   .we-do-texte{
    width: 50%;
   
    font-size: 20px;
    line-height: 30px;
    background: #fb5353;
    color: white;
    p:nth-of-type(1){
        margin-top: 50px;
        margin-left: 10%;
        margin-right: 10%;
    }
    p:nth-of-type(2){
        margin-bottom: 50px;
        margin: 50px;

    }
   }
   .we-do-titre{
        width: 50%;
        height: 499px;
        margin-top: 5%;
        margin-left: 10%;
        h1{
           
            font-size: 45px;
          font-weight:600;
          span{
            color: crimson;
            font-size: 70px;
          }
          
        }
        p{
            font-weight: 500;
            font-size: 18px;
            width:80% ;
            line-height: 28px;
          }
   }

}
about-imag
es